@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    position: relative;
  }

  .container::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;

    background: url("/images/bg-pattern.png");
    background-size: 13px;
  }

  .text-underline::before {
    content: " ";
  }

  .text-underline {
    @apply relative before:absolute before:inset-0 before:-z-10 before:mt-auto before:h-1/2 before:w-full before:bg-first-color-100;
  }
}

@layer utilities {
  .text-border {
    text-shadow:
      0.5px 0 #0c0c0c,
      -0.5px 0 #0c0c0c,
      0 0.5px #0c0c0c,
      0 -0.5px #0c0c0c,
      0.5px 0.5px #0c0c0c,
      -0.5px -0.5px #0c0c0c,
      0.5px -0.5px #0c0c0c,
      -0.5px 0.5px #0c0c0c;
  }

  .project-button-radiuses {
    border-top-left-radius: 20px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
  }
}
